body {
  font: 14px 'helvetica'; /* I love helvetica */
}

.x-axis path,
.x-axis line {
  fill: none;
  stroke: #000;
}

.y-axis path,
.y-axis line {
  fill: none;
  stroke: #000;
}

.bar {
  fill: #4983E6;
}

.bar:hover {
  fill: #2068E5;
  cursor: pointer;
}

.red-bar {
  fill: #E42929;
}

.red-bar:hover {
  fill: #D50000;
  cursor: pointer;
}

.bar-text {
  stroke: #fff;
  fill: #fff;
}

.bar-text-out {
  stroke: #000;
  fill: #000;
}
